body {
  background: #eee;
  font-family: sans-serif;
  padding: 2px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  font-size:10px
}

.title {
  background: #e3f4ff;
  padding: 8px;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
  padding:8px;
}

button {
  background: white;
  margin:8px;
  border: 1px solid #eee;
  padding:24px;
  padding:8px;
}